<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'ecommerceapp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>All Products</title>
</head>
<body>
<nav>
    <ul>
    <li><a href="/all-products/">Back To Products Page</a></li>
    <li><a href="{% url 'ecommerceapp:index' %}">Back To Home page</a></li>
    <li><a href="/my-cart/">View Cart</a></li>
    <li><a href="/checkout/">CheckOut</a></li>
    </ul>
</nav>
    <div class="container">
        <h2>All Products</h2><br>
        {% for cat in allcategories %}
        <h4>{{cat.title}}</h4>
        <div class="row">
            {% for p in cat.product_set.all %}
            <div class="col-md-3">
                <div class="m-4">
                    <img src="{{p.product_image.url}}" style="height: 2500; object-fit: cover;">
                    <h4><a href="product-details">{{p.product_title}}</a></h4>
                    <h3><strong>{{p.price}}</strong></h3>
                    <a class="read_more" href="{% url 'ecommerceapp:addtocart' p.id %}">Add to Cart</a>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>



         </div>
      
    
</body>
</html>