<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <link rel="stylesheet" href="{% static 'ecommerceapp/css/style.css' %}">
    <meta charset="UTF-8">
    <title>All Products</title>
</head>
<body>
    <h3>All Products</h3><br>
    {% for cat in allcategories %}
    <h4>{{cat.title}}</h4>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-4 margin_bottom1">
            <div class="product_box">
                <figure><img src="{{p.product_image.url}}"/></figure>
                <h4><a href="product-details">{{p.product_title}}</a></h4>
                <h3><strong>{{p.price}}</strong></h3>
                <a class="read_more" href="{% url 'ecommerceapp:addtocart' p.id %}">Add to Cart</a>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</body>
</html>